@media (max-width:600px) {
    html,body{
        overflow-x: hidden;
    }
    .navbar{
        height: 10vh;
        width: 100%;
        background-color:antiquewhite;
        display: flex;
      flex-direction: column;
    }
    .heading-2{
        padding-left: 1em;
        color: #3c566e;
        padding-top: .5em;
    }
    li a{
        color: #3c566e;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        gap: 2em;
    }
    
    li{
        list-style: none;
    }
    .nav-item{
        margin-right: 2em;
        margin-top: .7em;
        visibility: hidden;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .SPN{
        visibility: visible;
        margin-left: -52em;
      }
    
    img{
        height: 85vh;
        filter: brightness(60%);
    }
    .heading{
        font-weight: bold;
        font-size:35px;
       margin-top: -15em;
       animation: 1s move-up forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    @keyframes move-up {
        0%{
          transform: translateY(100%);
          opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    p{
        font-size: 25px;
        font-weight: bold;
        animation: 1s move-down forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    @keyframes move-down {
        0%{
          transform: translateY(-100%);
          opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .info{
        height: 300px;
        width: auto;
        display: flex;
        flex-direction: column  ;
        gap: .3em;
        animation:1s  move-up  forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    .first{
        height: auto;
        width: 290px;
        background-color:antiquewhite;
        border: 1px solid black;
    box-shadow: 0px 0px 14px grey;
    margin: 0;
    margin-left: -.8em;
    
    }
     
     i{
        color: white;
        font-size: 20px;
        border: 1px solid black;
        padding: .3em;
        border-radius: 50%;
        background-color: #3c566e;
        margin-top: 0em;
     }
     .heading-products{
        color: black;
        font-weight: bold;
        font-size: 20px;
    
     }
     .detail{
        font-weight: 100;
        font-size: 12px;
        font-weight: normal;
        color: black;
     }
    
}